node_modules
npm-debug.log
.git
.gitignore
README.md
.env.local
.env.*.local
.env
backend/.env
backend/.env.*
.DS_Store
Thumbs.db
backend/storage/logs/*
backend/bootstrap/cache/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
frontend/node_modules
frontend/dist
.vscode
